{% extends 'partials/base.html.twig' %}
{% block content %}
<div class="main">
  <section class="post container-c">

    <nav class="breadcrum">
      <a href="{{page.parent.url}}">Volver al {{page.parent.title}} </a>
    </nav>

    <h1>
      {{ page.title }}
    </h1>

    {% if page.taxonomy.tag %}
    <div class="categories">
        {% for tag in page.taxonomy.tag %}
        <a href="{{ page.parent.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}" class="p-category">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}

    <div class="data"><span>{{ page.date|nicetime(true) }}</span></div>

    <article>
      {{ page.content }}
    </article>
    <div class="social">
      <h4>Compártelo</h4>
      <p>
        <a href="http://twitter.com/share?text={{ page.title }}, Compártelo por favor: &url={{page.url(true)}}" class="twitter"><em class="tc-twitter"></em>Twitter</a>
        <a href="http://www.facebook.com/sharer.php?u={{page.url(true)}}" class="facebook"><em class="tc-facebook"></em>Facebook</i></a>
        <a href="https://plus.google.com/share?url={{page.url(true)}}" class="googleplus"><em class="tc-google-plus"></em>Google+</a>
        <a href="http://www.linkedin.com/shareArticle?url={{page.url(true)}}" class="linkedin"><em class="tc-linkedin"></em>Linkedin</a>
      </p>
    </div>
  </section>
</div>
{% endblock %}